# **Challenge Telecom X Latam**

Challenge del curso de Alura sobre Extracci√≥n, Transformaci√≥n y Carga de los Datos.

## üìå **Extracci√≥n**

### **Cargando Datos en un DataFrame**

In [2]:
import pandas as pd

df = pd.read_json('TelecomX_Data.json')

# Normalizar las columnas que contienen objetos JSON
customer_df = pd.json_normalize(df['customer'])
phone_df = pd.json_normalize(df['phone'])
internet_df = pd.json_normalize(df['internet'])
account_df = pd.json_normalize(df['account'])

# Combinar todas las columnas en un solo DataFrame
df_normalized = pd.concat([
    df[['customerID', 'Churn']],
    customer_df,
    phone_df,
    internet_df,
    account_df
], axis=1)

df = df_normalized
df

,customerID,Churn,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,...,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,Charges.Monthly,Charges.Total
0,0002-ORFBO,No,Female,0,Yes,Yes,9,Yes,No,DSL,...,Yes,No,Yes,Yes,No,One year,Yes,Mailed check,65.60,593.3
1,0003-MKNFE,No,Male,0,No,No,9,Yes,Yes,DSL,...,No,No,No,No,Yes,Month-to-month,No,Mailed check,59.90,542.4
2,0004-TLHLJ,Yes,Male,0,No,No,4,Yes,No,Fiber optic,...,No,Yes,No,No,No,Month-to-month,Yes,Electronic check,73.90,280.85
3,0011-IGKFF,Yes,Male,1,Yes,No,13,Yes,No,Fiber optic,...,Yes,Yes,No,Yes,Yes,Month-to-month,Yes,Electronic check,98.00,1237.85
4,0013-EXCHZ,Yes,Female,1,Yes,No,3,Yes,No,Fiber optic,...,No,No,Yes,Yes,No,Month-to-month,Yes,Mailed check,83.90,267.4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7262,9987-LUTYD,No,Female,0,No,No,13,Yes,No,DSL,...,No,No,Yes,No,No,One year,No,Mailed check,55.15,742.9
7263,9992-RRAMN,Yes,Male,0,Yes,No,22,Yes,Yes,Fiber optic,...,No,No,No,No,Yes,Month-to-month,Yes,Electronic check,85.10,1873.7
7264,9992-UJOEL,No,Male,0,No,No,2,Yes,No,DSL,...,Yes,No,No,No,No,Month-to-month,Yes,Mailed check,50.30,92.75
7265,9993-LHIEB,No,Male,0,Yes,Yes,67,Yes,No,DSL,...,No,Yes,Yes,No,Yes,Two year,No,Mailed check,67.85,4627.65
7266,9995-HOTOH,No,Male,0,Yes,Yes,63,No,No phone service,DSL,...,Yes,Yes,No,Yes,Yes,Two year,No,Electronic check,59.00,3707.6

### **Exploraci√≥n de los datos**

**Tipos de datos**

In [3]:
df.dtypes

customerID           object
Churn                object
gender               object
SeniorCitizen         int64
Partner              object
Dependents           object
tenure                int64
PhoneService         object
MultipleLines        object
InternetService      object
OnlineSecurity       object
OnlineBackup         object
DeviceProtection     object
TechSupport          object
StreamingTV          object
StreamingMovies      object
Contract             object
PaperlessBilling     object
PaymentMethod        object
Charges.Monthly     float64
Charges.Total        object
dtype: object

**Tama√±o del dataset**

In [4]:
df.shape

(7267, 21)

**Resumen del dataset**

In [5]:
df.describe(include='all')

,customerID,Churn,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,...,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,Charges.Monthly,Charges.Total
count,7267,7267,7267,7267.000000,7267,7267,7267.000000,7267,7267,7267,...,7267,7267,7267,7267,7267,7267,7267,7267,7267.000000,7267
unique,7267,3,2,NaN,2,2,NaN,2,3,3,...,3,3,3,3,3,3,2,4,NaN,6531
top,0002-ORFBO,No,Male,NaN,No,No,NaN,Yes,No,Fiber optic,...,No,No,No,No,No,Month-to-month,Yes,Electronic check,NaN,
freq,1,5174,3675,NaN,3749,5086,NaN,6560,3495,3198,...,3182,3195,3582,2896,2870,4005,4311,2445,NaN,11
mean,NaN,NaN,NaN,0.162653,NaN,NaN,32.346498,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,64.720098,NaN
std,NaN,NaN,NaN,0.369074,NaN,NaN,24.571773,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,30.129572,NaN
min,NaN,NaN,NaN,0.000000,NaN,NaN,0.000000,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,18.250000,NaN
25%,NaN,NaN,NaN,0.000000,NaN,NaN,9.000000,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,35.425000,NaN
50%,NaN,NaN,NaN,0.000000,NaN,NaN,29.000000,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,70.300000,NaN
75%,NaN,NaN,NaN,0.000000,NaN,NaN,55.000000,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,89.875000,NaN
max,NaN,NaN,NaN,1.000000,NaN,NaN,72.000000,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,118.750000,NaN

**N√∫mero de datos nulos**

In [6]:
df.isnull().sum()

customerID          0
Churn               0
gender              0
SeniorCitizen       0
Partner             0
Dependents          0
tenure              0
PhoneService        0
MultipleLines       0
InternetService     0
OnlineSecurity      0
OnlineBackup        0
DeviceProtection    0
TechSupport         0
StreamingTV         0
StreamingMovies     0
Contract            0
PaperlessBilling    0
PaymentMethod       0
Charges.Monthly     0
Charges.Total       0
dtype: int64

**Datos duplicados**

In [7]:
df.duplicated().sum()

0

**Informaci√≥n del Dataset**

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7267 entries, 0 to 7266
Data columns (total 21 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customerID        7267 non-null   object
 1   Churn             7267 non-null   object
 2   gender            7267 non-null   object
 3   SeniorCitizen     7267 non-null   int64
 4   Partner           7267 non-null   object
 5   Dependents        7267 non-null   object
 6   tenure            7267 non-null   int64
 7   PhoneService      7267 non-null   object
 8   MultipleLines     7267 non-null   object
 9   InternetService   7267 non-null   object
 10  OnlineSecurity    7267 non-null   object
 11  OnlineBackup      7267 non-null   object
 12  DeviceProtection  7267 non-null   object
 13  TechSupport       7267 non-null   object
 14  StreamingTV       7267 non-null   object
 15  StreamingMovies   7267 non-null   object
 16  Contract          7267 non-null   object
 17  PaperlessBilling  7267 non-null   object
 18  PaymentMethod     7267 non-null   object
 19  Charges.Monthly   7267 non-null   float64
 20  Charges.Total     7267 non-null   object
dtypes: float64(1), int64(2), object(18)
memory usage: 1.2+ MB

## üîß **Transformaci√≥n**

**Inconsistencias**

In [9]:
# Analizar patrones en registros con Churn nulo
print("An√°lisis de registros con Churn nulo:")
null_churn = df[df['Churn'].isnull() | (df['Churn'] == '')]
print(f"Registros con Churn nulo: {len(null_churn)}")
print("\nCaracter√≠sticas de estos registros:")
print(null_churn.describe(include='all'))

# Opci√≥n 1: Eliminar registros con Churn nulo (recomendado si son pocos)
df_clean = df.dropna(subset=['Churn'])
df_clean = df_clean[df_clean['Churn'] != '']

print(f"Registros despu√©s de eliminar Churn nulos: {len(df_clean)}")

An√°lisis de registros con Churn nulo:
Registros con Churn nulo: 224

Caracter√≠sticas de estos registros:
        customerID Churn gender  SeniorCitizen Partner Dependents      tenure  \
count          224   224    224     224.000000     224        224  224.000000
unique         224     1      2            NaN       2          2         NaN
top     0047-ZHDTW         Male            NaN     Yes         No         NaN
freq             1   224    120            NaN     116        153         NaN
mean           NaN   NaN    NaN       0.178571     NaN        NaN   31.571429
std            NaN   NaN    NaN       0.383851     NaN        NaN   24.998552
min            NaN   NaN    NaN       0.000000     NaN        NaN    1.000000
25%            NaN   NaN    NaN       0.000000     NaN        NaN    7.000000
50%            NaN   NaN    NaN       0.000000     NaN        NaN   29.000000
75%            NaN   NaN    NaN       0.000000     NaN        NaN   56.000000
max            NaN   NaN    NaN       1.000000     NaN        NaN   72.000000

       PhoneService MultipleLines InternetService  ... OnlineBackup  \
count           224           224             224  ...          224
unique            2             3               3  ...            3
top             Yes            No     Fiber optic  ...           No
freq            199           105             102  ...           94
mean            NaN           NaN             NaN  ...          NaN
std             NaN           NaN             NaN  ...          NaN
min             NaN           NaN             NaN  ...          NaN
25%             NaN           NaN             NaN  ...          NaN
50%             NaN           NaN             NaN  ...          NaN
75%             NaN           NaN             NaN  ...          NaN
max             NaN           NaN             NaN  ...          NaN

       DeviceProtection TechSupport StreamingTV StreamingMovies  \
count               224         224         224             224
unique                3           3           3               3
top                  No          No          No              No
freq                100         109          86              85
mean                NaN         NaN         NaN             NaN
std                 NaN         NaN         NaN             NaN
min                 NaN         NaN         NaN             NaN
25%                 NaN         NaN         NaN             NaN
50%                 NaN         NaN         NaN             NaN
75%                 NaN         NaN         NaN             NaN
max                 NaN         NaN         NaN             NaN

              Contract PaperlessBilling     PaymentMethod Charges.Monthly  \
count              224              224               224      224.000000
unique               3                2                 4             NaN
top     Month-to-month              Yes  Electronic check             NaN
freq               130              140                80             NaN
mean               NaN              NaN               NaN       63.412277
std                NaN              NaN               NaN       31.388712
min                NaN              NaN               NaN       18.750000
25%                NaN              NaN               NaN       28.425000
50%                NaN              NaN               NaN       69.100000
75%                NaN              NaN               NaN       90.412500
max                NaN              NaN               NaN      115.550000

        Charges.Total
count             224
unique            223
top             19.55
freq                2
mean              NaN
std               NaN
min               NaN
25%               NaN
50%               NaN
75%               NaN
max               NaN

[11 rows x 21 columns]
Registros despu√©s de eliminar Churn nulos: 7043

In [10]:
# Verificar valores √∫nicos en columnas categ√≥ricas
categorical_columns = df.select_dtypes(include=['object']).columns
print("Valores √∫nicos por columna:")
for col in categorical_columns:
    unique_vals = df[col].unique()
    print(f"\n{col}: {unique_vals}")

# Estandarizar valores inconsistentes
def standardize_categorical_values(df):
    df_std = df.copy()
    
    # Estandarizar respuestas de servicios
    service_columns = ['OnlineSecurity', 'OnlineBackup', 'DeviceProtection', 
                      'TechSupport', 'StreamingTV', 'StreamingMovies']
    
    for col in service_columns:
        if col in df_std.columns:
            df_std[col] = df_std[col].replace({
                'No internet service': 'No',
                'No phone service': 'No'
            })
    
    # Estandarizar MultipleLines
    if 'MultipleLines' in df_std.columns:
        df_std['MultipleLines'] = df_std['MultipleLines'].replace({
            'No phone service': 'No'
        })
    
    return df_std

df_clean = standardize_categorical_values(df_clean)

Valores √∫nicos por columna:

customerID: ['0002-ORFBO' '0003-MKNFE' '0004-TLHLJ' ... '9992-UJOEL' '9993-LHIEB'
 '9995-HOTOH']

Churn: ['No' 'Yes' '']

gender: ['Female' 'Male']

Partner: ['Yes' 'No']

Dependents: ['Yes' 'No']

PhoneService: ['Yes' 'No']

MultipleLines: ['No' 'Yes' 'No phone service']

InternetService: ['DSL' 'Fiber optic' 'No']

OnlineSecurity: ['No' 'Yes' 'No internet service']

OnlineBackup: ['Yes' 'No' 'No internet service']

DeviceProtection: ['No' 'Yes' 'No internet service']

TechSupport: ['Yes' 'No' 'No internet service']

StreamingTV: ['Yes' 'No' 'No internet service']

StreamingMovies: ['No' 'Yes' 'No internet service']

Contract: ['One year' 'Month-to-month' 'Two year']

PaperlessBilling: ['Yes' 'No']

PaymentMethod: ['Mailed check' 'Electronic check' 'Credit card (automatic)'
 'Bank transfer (automatic)']

Charges.Total: ['593.3' '542.4' '280.85' ... '742.9' '4627.65' '3707.6']

In [11]:
# Verificar duplicados por customerID
print("Verificaci√≥n de duplicados:")
duplicated_ids = df_clean['customerID'].duplicated().sum()
print(f"CustomerIDs duplicados: {duplicated_ids}")

if duplicated_ids > 0:
    print("IDs duplicados encontrados:")
    duplicate_customers = df_clean[df_clean['customerID'].duplicated(keep=False)]
    print(duplicate_customers[['customerID', 'Churn']].sort_values('customerID'))

# Verificar consistencia en tipos de datos
print("\nTipos de datos despu√©s de limpieza:")
print(df_clean.dtypes)

# Verificar rangos de valores num√©ricos
if 'tenure' in df_clean.columns:
    print(f"\nTenure - Min: {df_clean['tenure'].min()}, Max: {df_clean['tenure'].max()}")

Verificaci√≥n de duplicados:
CustomerIDs duplicados: 0

Tipos de datos despu√©s de limpieza:
customerID           object
Churn                object
gender               object
SeniorCitizen         int64
Partner              object
Dependents           object
tenure                int64
PhoneService         object
MultipleLines        object
InternetService      object
OnlineSecurity       object
OnlineBackup         object
DeviceProtection     object
TechSupport          object
StreamingTV          object
StreamingMovies      object
Contract             object
PaperlessBilling     object
PaymentMethod        object
Charges.Monthly     float64
Charges.Total        object
dtype: object

Tenure - Min: 0, Max: 72

In [12]:
# Verificar consistencia l√≥gica entre variables
print("Verificaci√≥n de consistencia l√≥gica:")

# Si no tiene servicio telef√≥nico, no deber√≠a tener m√∫ltiples l√≠neas
if 'PhoneService' in df_clean.columns and 'MultipleLines' in df_clean.columns:
    inconsistent_phone = df_clean[
        (df_clean['PhoneService'] == 'No') & 
        (df_clean['MultipleLines'].isin(['Yes']))
    ]
    print(f"Inconsistencias tel√©fono-m√∫ltiples l√≠neas: {len(inconsistent_phone)}")

# Si no tiene internet, no deber√≠a tener servicios online
internet_services = ['OnlineSecurity', 'OnlineBackup', 'DeviceProtection', 
                     'TechSupport', 'StreamingTV', 'StreamingMovies']
if 'InternetService' in df_clean.columns:
    for service in internet_services:
        if service in df_clean.columns:
            inconsistent = df_clean[
                (df_clean['InternetService'] == 'No') & 
                (df_clean[service] == 'Yes')
            ]
            print(f"Inconsistencias {service}: {len(inconsistent)}")

Verificaci√≥n de consistencia l√≥gica:
Inconsistencias tel√©fono-m√∫ltiples l√≠neas: 0
Inconsistencias OnlineSecurity: 0
Inconsistencias OnlineBackup: 0
Inconsistencias DeviceProtection: 0
Inconsistencias TechSupport: 0
Inconsistencias StreamingTV: 0
Inconsistencias StreamingMovies: 0

In [13]:
# Resumen final despu√©s de limpieza
print("=== RESUMEN DE CALIDAD DE DATOS ===")
print(f"Registros originales: {len(df)}")
print(f"Registros despu√©s de limpieza: {len(df_clean)}")
print(f"Registros eliminados: {len(df) - len(df_clean)}")
print(f"Porcentaje de datos retenidos: {(len(df_clean)/len(df))*100:.2f}%")

print("\nValores nulos restantes:")
print(df_clean.isnull().sum().sum())

print("\nDistribuci√≥n final de Churn:")
print(df_clean['Churn'].value_counts())
print(df_clean['Churn'].value_counts(normalize=True))

# Actualizar el dataframe principal
df = df_clean.copy()
print("\nDatos listos para an√°lisis")

=== RESUMEN DE CALIDAD DE DATOS ===
Registros originales: 7267
Registros despu√©s de limpieza: 7043
Registros eliminados: 224
Porcentaje de datos retenidos: 96.92%

Valores nulos restantes:
0

Distribuci√≥n final de Churn:
Churn
No     5174
Yes    1869
Name: count, dtype: int64
Churn
No     0.73463
Yes    0.26537
Name: proportion, dtype: float64

Datos listos para an√°lisis

Datos listos para an√°lisis

**Columna Cuentas Diarias**

In [14]:
df['Cuentas_Diarias'] = df['Charges.Monthly'] / 30
df

,customerID,Churn,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,Charges.Monthly,Charges.Total,Cuentas_Diarias
0,0002-ORFBO,No,Female,0,Yes,Yes,9,Yes,No,DSL,...,No,Yes,Yes,No,One year,Yes,Mailed check,65.60,593.3,2.186667
1,0003-MKNFE,No,Male,0,No,No,9,Yes,Yes,DSL,...,No,No,No,Yes,Month-to-month,No,Mailed check,59.90,542.4,1.996667
2,0004-TLHLJ,Yes,Male,0,No,No,4,Yes,No,Fiber optic,...,Yes,No,No,No,Month-to-month,Yes,Electronic check,73.90,280.85,2.463333
3,0011-IGKFF,Yes,Male,1,Yes,No,13,Yes,No,Fiber optic,...,Yes,No,Yes,Yes,Month-to-month,Yes,Electronic check,98.00,1237.85,3.266667
4,0013-EXCHZ,Yes,Female,1,Yes,No,3,Yes,No,Fiber optic,...,No,Yes,Yes,No,Month-to-month,Yes,Mailed check,83.90,267.4,2.796667
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7262,9987-LUTYD,No,Female,0,No,No,13,Yes,No,DSL,...,No,Yes,No,No,One year,No,Mailed check,55.15,742.9,1.838333
7263,9992-RRAMN,Yes,Male,0,Yes,No,22,Yes,Yes,Fiber optic,...,No,No,No,Yes,Month-to-month,Yes,Electronic check,85.10,1873.7,2.836667
7264,9992-UJOEL,No,Male,0,No,No,2,Yes,No,DSL,...,No,No,No,No,Month-to-month,Yes,Mailed check,50.30,92.75,1.676667
7265,9993-LHIEB,No,Male,0,Yes,Yes,67,Yes,No,DSL,...,Yes,Yes,No,Yes,Two year,No,Mailed check,67.85,4627.65,2.261667
7266,9995-HOTOH,No,Male,0,Yes,Yes,63,No,No,DSL,...,Yes,No,Yes,Yes,Two year,No,Electronic check,59.00,3707.6,1.966667

## üìä **Carga y an√°lisis**

## üìÑ**Informe final**